.u-section-1 {min-height: 623px}
.u-section-1 .u-layout-wrap-1 {min-height: 623px; margin: 0 auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 623px; background-image: none}
.u-section-1 .u-container-layout-1 {padding: 30px 30px 30px 80px}
.u-section-1 .u-text-1 {font-size: 3rem; font-weight: 700; margin: 0 auto 0 0}
.u-section-1 .u-text-2 {margin: 20px 0 0}
.u-section-1 .u-btn-1 {border-style: none; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; background-image: none; margin: 70px 269px 0 0}
.u-section-1 .u-image-1 {min-height: 623px; background-image: url("images/3168830-0.jpeg")}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-layout-cell-3 {min-height: 623px}
.u-section-1 .u-container-layout-3 {padding: 30px} 

@media (max-width: 1199px){ .u-section-1 {min-height: 405px}
.u-section-1 .u-layout-wrap-1 {position: relative; min-height: 296px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 514px; background-position: 50% 50%}
.u-section-1 .u-container-layout-1 {padding-left: 50px}
.u-section-1 .u-btn-1 {margin-right: 186px}
.u-section-1 .u-image-1 {min-height: 514px; background-position: 50% 50%}
.u-section-1 .u-layout-cell-3 {min-height: 514px} }

@media (max-width: 991px){ .u-section-1 {min-height: 285px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding-left: 30px}
.u-section-1 .u-text-1 {font-size: 2.25rem}
.u-section-1 .u-btn-1 {margin-right: 144px}
.u-section-1 .u-image-1 {min-height: 394px}
.u-section-1 .u-layout-cell-3 {min-height: 394px} }

@media (max-width: 767px){ .u-section-1 .u-layout-wrap-1 {min-height: 2674px; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-left: 50px; padding-right: 50px}
.u-section-1 .u-image-1 {min-height: 633px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-layout-cell-3 {min-height: 2533px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-layout-wrap-1 {min-height: 1502px; margin-right: initial; margin-left: initial}
.u-section-1 .u-btn-1 {margin-right: 0}
.u-section-1 .u-image-1 {min-height: 438px}
.u-section-1 .u-layout-cell-3 {min-height: 57px} }